apiVersion: apps/v1
kind: Deployment
metadata:
 name: nodejs-app
spec:
 replicas: 4
 selector:
   matchLabels:
     app: nodejs-app
 template:
   metadata:
     labels:
       app: nodejs-app
   spec:
     containers:
     - name: nodejs-app
       image: sonalijagtap401/nodejs-app:latest
       ports:
       - containerPort: 3000
